  
 * {
    box-sizing: border-box;
  }
  
      h1:hover{
                  color: crimson;
      }
  
      
       
      
    body {
      width: 100%;
      height: 100%;
      font-family: 'Georgia';
      padding:0;
      margin:20px 0 0 0;
    }
    
    
    
    .container{
  
                display: inline-flex;
                flex-wrap: wrap;
                width: 100%;
                height: 60vh;
                justify-content: space-around;
              
    }

     
    /* Background images on each slide */
    
    .slide_a {
                
                background-image: url(./green\ leaf\ tree.jpeg);
                height: 50vh;
                width: 320px;
                background-size: 90%;
                background-position: center;
                background-repeat: no-repeat;
                
                
     
    }
    
    .slide_b {
                background-image: url(./mountain.jpg);
                height: 50vh;
                width: 320px;
                background-size: 108%;
                background-position: center;
                background-repeat: no-repeat;
    }
    
    .slide_c {
        
                background-image: url(./night.jpg);
                height: 50vh;
                width: 320px;
                background-size: 120%;
                background-position: center;
                background-repeat: no-repeat;
    }
  
  
    .slide_d {
        
      background-image: url(./island\ and\ beaches.jpg);
      height: 50vh;
      width: 320px;
      background-size: 99%;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  
  
  .slide_e {
        
    background-image: url(./city\ at\ night.gif);
    height: 50vh;
    width: 300px;
    background-size: 119%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide_f {
        
    background-image: url(./mountain\ top.gif);
    height: 50vh;
    width: 300px;
    background-size: 157%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide_g {
        
    background-image: url(./sunrise.gif);
    height: 50vh;
    width: 300px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide_h {
        
    background-image: url(./blooming-flower.gif);
    height: 50vh;
    width: 300px;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  
 
  
  
  
  .heading{
                 color: black;
                 margin-top: 100px;
                 text-align: center;
                 
  }
  
  .paragraph{
            color: white;
             text-align: center;
  }
      
  
  h6{
    color: black;
  }
   
  img{
     line-height: 30px;
     width: 30px;
     border-radius: 30px;
  }
    
  img:hover{
    /* border: 2px dotted black; */
    background-color: #09165e9c;
}
  button{
    border-radius: 30px;
    
    margin: 140px 0px 0px 55px;
  }
   
    
   
   